html
	head
		include template/head
	body
		.content
			.accordeon-page
				a.logo(href="#") 
					img.logo(src="images/logo.png")
				ul.accordeon
					li.accordeon__item.accordeon--parent.active
						a(href="")
							| Основы языка и как на нём говорить правильно
						ul.accordeon
							li.accordeon__item
								a(href="")
									| Лексическая структура
							li.accordeon__item
								a(href="")
									| Типы данных, значения и переменные
							li.accordeon__item
								a(href="") 
									| Выражения и операторы инструкции

					li.accordeon__item.accordeon--parent
						a(href="")
							| Функции
						ul.accordeon
							li.accordeon__item
								a(href="")
									| Лексическая структура
							li.accordeon__item
								a(href="")
									| Типы данных, значения и переменные
							li.accordeon__item
								a(href="") 
									| Выражения и операторы инструкции

					li.accordeon__item.accordeon--parent
						a(href="")
							| Обработка ошибок и отладка
						ul.accordeon
							li.accordeon__item
								a(href="")
									| Лексическая структура
							li.accordeon__item
								a(href="")
									| Типы данных, значения и переменные
							li.accordeon__item
								a(href="") 
									| Выражения и операторы инструкции
		include template/footer